id: HelloWorldPremium_Scan
version: -1
name: HelloWorldPremium_Scan
description: |-
  This Playbook simulates a vulnerability scan using the "HelloWorld" sample integration. It's used to demonstrate how to use the GenericPolling mechanism to run jobs that take several seconds or minutes to complete. It is designed to be used as a subplaybook, but you can also use it as a standalone playbook, by providing the ${Endpoint.Hostname} input in the Context.

  Other inputs include the report output format (JSON context or File attached), and the Interval/Timeouts to use for polling the scan status until it's complete.
fromversion: 5.0.0
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 522f3240-d395-42f4-87cc-f4d9590a1238
    type: start
    task:
      description: ''
      id: 522f3240-d395-42f4-87cc-f4d9590a1238
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 3fa89287-cf9c-4571-86bb-f9c5bf8e08c5
    type: regular
    task:
      id: 3fa89287-cf9c-4571-86bb-f9c5bf8e08c5
      version: -1
      name: Start a Hello World Premium Scan
      description: Start a HelloWorldPremium scan on an asset, identified from by
        ${input.Hostname} key.
      script: '|||helloworldpremium-scan-start'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      hostname:
        simple: ${inputs.Hostname}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: 32b046ff-d790-4fb6-8d0f-5279cc510085
    type: playbook
    task:
      id: 32b046ff-d790-4fb6-8d0f-5279cc510085
      version: -1
      name: GenericPolling
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      playbookName: GenericPolling
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      AdditionalPollingCommandArgNames: {}
      AdditionalPollingCommandArgValues: {}
      Ids:
        simple: ${HelloWorldPremium.Scan.scan_id}
      Interval:
        simple: ${inputs.Interval}
      PollingCommandArgName:
        simple: scan_id
      PollingCommandName:
        simple: helloworldpremium-scan-status
      Timeout:
        simple: ${inputs.Timeout}
      dt:
        simple: HelloWorldPremium.Scan(val.status !== 'COMPLETE').scan_id
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: 077e5ee2-9cb5-4793-8709-ec9f7b75fe9c
    type: regular
    task:
      id: 077e5ee2-9cb5-4793-8709-ec9f7b75fe9c
      version: -1
      name: Retrieve HelloWorldPremium Scan Results
      description: Retrieve scan status in Context or as a File (default) for a Scan.
      script: '|||helloworldpremium-scan-results'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      format:
        simple: ${inputs.Report Format}
      scan_id:
        simple: ${HelloWorldPremium.Scan.scan_id}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: a5db0b17-5bd0-4ad8-8e94-0792f73abdb4
    type: title
    task:
      id: a5db0b17-5bd0-4ad8-8e94-0792f73abdb4
      version: -1
      name: Done
      description: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: b57d39ad-21ca-4a07-8f35-dfe5a978ea3a
    type: condition
    task:
      id: b57d39ad-21ca-4a07-8f35-dfe5a978ea3a
      version: -1
      name: Is Hostname set?
      description: Check if the input Hostname is valid (i.e. is not Empty), do not
        run the scan otherwise.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      "true":
      - "1"
    separatecontext: false
    conditions:
    - label: "true"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.Hostname
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 2f5cf35e-134d-4ffa-806a-6a3f166c0b4d
    type: regular
    task:
      id: 2f5cf35e-134d-4ffa-806a-6a3f166c0b4d
      version: -1
      name: Print Error
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      message:
        simple: Hostname is not set, cannot run the playbook!
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 910,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: Hostname
  value:
    complex:
      root: ${Endpoint
      accessor: Hostname}
  required: true
  description: Hostname to run the scan against. By default takes ${Endpoint.Hostname}
    from the context as the input.
  playbookInputQuery: null
- key: Report Format
  value:
    simple: json
  required: true
  description: 'Output report format: can be "json" (output parsed and written in
    the Context) or "file" (saved as an attachment). By default is "json".'
  playbookInputQuery: null
- key: Interval
  value:
    simple: "1"
  required: true
  description: How often to check for the scan to be completed (minutes)
  playbookInputQuery: null
- key: Timeout
  value:
    simple: "15"
  required: true
  description: How long to wait for the scan to be completed before timing out (minutes)
  playbookInputQuery: null
outputs:
- contextPath: HelloWorldPremium.Scan.entity.entity-id
  description: Scanned entity ID.
- contextPath: HelloWorldPremium.Scan.entity.ip_address
  description: Scanned entity IP address.
- contextPath: HelloWorldPremium.Scan.entity.type
  description: Scanned entity type.
- contextPath: HelloWorldPremium.Scan.entity.vulnerability_status
  description: Scanned entity vulnerability status.
- contextPath: HelloWorldPremium.Scan.entity.vulns
  description: Scanned entity CVE.
- contextPath: CVE.ID
  description: The ID of the CVE.
- contextPath: InfoFile.EntryID
  description: The EntryID of the report file.
- contextPath: InfoFile.Extension
  description: The extension of the report file.
- contextPath: InfoFile.Name
  description: The name of the report file.
- contextPath: InfoFile.Info
  description: The info of the report file.
- contextPath: InfoFile.Size
  description: The size of the report file.
- contextPath: InfoFile.Type
  description: The type of the report file.
tests:
 -  No tests
